<p id="notice"><%= notice %></p>

<p>
  <b>Heightweight:</b>
  <%=h @heightweightvalue.heightweight_id %>
</p>

<p>
  <b>Skill:</b>
  <%=h @heightweightvalue.skill_id %>
</p>

<p>
  <b>Value:</b>
  <%=h @heightweightvalue.value %>
</p>


<%= link_to 'Edit', edit_heightweightvalue_path(@heightweightvalue) %>
<%= link_to 'Back', heightweightvalues_path %>
