<p id="notice"><%= notice %></p>

<p>
  <b>League:</b>
  <%= @game.league_id %>
</p>

<p>
  <b>Player1:</b>
  <%= @game.player1_id %>
  <%= @game.player1.player.name %>
</p>

<p>
  <b>Player2:</b>
  <%= @game.player2_id %>
  <%= @game.player2.player.name %>
</p>

<p>
  <b>Result:</b>
  <%= @game.result_id %>
</p>

<%= debug @results%>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
