<%= form_for(@player) do |f| %>
<% if @player.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@player.errors.count, "error") %>prohibited this player from being saved:</h2>
    <ul>
        <% @player.errors.full_messages.each do |msg| %>
        <li>
            <%= msg %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<p>
The name and description of your player are only used for presentation on this site and have no other function.  You can choose any values that are meaninful to you.
</p>
<div class="field">
    <%= f.label :name %>
    <br/>
    <%= f.text_field :name %>
</div>
<div class="field">
    <%= f.label :description %>
    <br/>
    <%= f.text_field :description %>
</div>
<p>
    <b>Accomplishments:</b>
</p>
<p>
    Please mark any accomplishments that your virtual pro has achieved.  The row of links below tabs through the various sections of accomplishments. 
</p>
<p>
	To download your accomplishments from EA's servers, please enter your XBox Live Gamer Tag here:     
	<%= f.text_field :gamertag %> and click here <%= f.submit :value=>'Import'%>
</p>
<p>
	The import may take a few seconds.  Note that you will never be asked for your password to any other site, since this is public information.
</p>
<table class='internal'>
    <tr class='internal'>
        <%prevsection = '' %>
        <%numsection = 1 %>
        <%for accomplishmentstate in @accomplishmentsedit do %>
        <%if accomplishmentstate.accomplishment.section != prevsection then %>
        <%prevsection = accomplishmentstate.accomplishment.section %>
        <td class='internal'>
            <a class='tab' href='javascript:activateTab("page<%=numsection%>")'><%=h accomplishmentstate.accomplishment.section %></a>
            <% numsection += 1 %>
        </td>
        <%end %>
        <%end %>
    </tr>
</table>
<p></p>
<div id="tabCtrl">
<% prevsection = '' %>
<% numsection = 1 %>
<%for accomplishmentstate in @accomplishmentsedit do %>
<%if accomplishmentstate.accomplishment.section != prevsection then %>
<%if numsection > 1 then %>
</table>
</div>
<%end %>
<div id="page<%= numsection %>" style="display: <%= (numsection == 1) ? "block" : "none"%>;">
    <table class='internal'>
        <% numsection += 1 %>
        <% prevsection = accomplishmentstate.accomplishment.section %>
        <%end %>
        <tr class='internal'>
            <td class='internal'>
                <%=check_box_tag "accomplishment_" +
                accomplishmentstate.accomplishment_id.to_s,
                "true",
                accomplishmentstate.achieved %>
            </td>
            <td class='internal'>
                <%=h accomplishmentstate.accomplishment.section %>
            </td>
            <td class='internal numeric'>
                <%=h accomplishmentstate.accomplishment.linenumber %>:
            </td>
            <td class='internal'>
                <%=h accomplishmentstate.accomplishment.description %>
            </td>
        </tr>
        <%end %>
        <%if numsection > 1 %>
    </table>
</div>
<%end %>
</div>
<p></p>
<div class="actions">
    <%= f.submit %>
</div>
<%end %>
