<h1>Listing players for user '<%=h @current_user.login%>'</h1>
<table class='index internal'>
<% @players.each do |player| %>
  <tr class='index internal'>
    <td class='index internal'>
	<%if player.name && (player.name.length > 0)%>
    	<%=link_to player.name, player %>
	<%else%>		
    	<%=link_to '[unnamed player]', player %>
	<%end%>
	</td>
    <td class='index internal description'>
	<%if player.description && (player.description.length > 0)%>
    	(<%=h player.description %>)
	<%end%>
	</td>
    <td class='internal'><%= link_to 'Edit', edit_player_path(player) %></td>
    <td class='internal'><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<p></p>
<%= link_to 'New Player', new_player_path %>
