<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%=h @player.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @player.description %>
</p>

<p>
  <b>Owner:</b>
  <%=h @player.owner %>
</p>

<p>
  <b>Accomplishments:</b>
  <table class='internal''>
    <%for accomplishmentstate in @accomplishmentsdone%>
      <tr class='internal'>
        <!--
        <td><%=check_box_tag 'dummy',
		'dummy',
		accomplishmentstate.achieved,
		:readonly=>true,
		:disabled=>true%></td>
        -->
        <td class='internal'><%=h accomplishmentstate.accomplishment.section%></td>
        <td class='internal numeric'><%=h accomplishmentstate.accomplishment.linenumber%>:</td>
        <td class='internal'><%=h accomplishmentstate.accomplishment.description%></td>
      </tr>
    <%end%>
  </table>
</p>
<p>
	
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
