<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%=h @player.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @player.description %>
</p>

<p>
  <b>Owner:</b>
  <%=h @player.owner %>
</p>

<p>
  <b>Gamer Tag:</b>
  <%=h @player.gamertag %>
</p>

<p>
  <b>Accomplishments:</b>
  <%=@accomplishmentsdone.size%>
</p>
<p></p>
<%= link_to 'Edit', edit_player_path(@player) %>
<%= link_to 'Back', players_path %>
