<h1>Virtual Pro Roles</h1>
<p>
These are the different configurations that you can choose for your virtual pro.  Each gives your virtual pro a set of base skill values, which can then be further improved by achieving accomplishments.
</p>
<table class='index internal'>

<% @roles.each do |role| %>
  <tr class='index internal'>
    <td class='index internal'><%=link_to role.name, role %></td>
    <td class='index internal description'>
	<%if role.description%>
    	(<%=h role.description %>)
	<%end%>
	</td>
    <%if current_user.admin?%>
	    <td class='internal'><%=link_to 'Edit', edit_role_path(role) %></td>
	    <td class='internal'><%=link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td>
	<%end%>
  </tr>
<% end %>
</table>
<p></p>
<%if current_user.admin?%>
<%= link_to 'New Role', new_role_path %>
<%end%>
