<h1>Listing roles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th class='internal'></th>
    <th class='internal'></th>
    <th class='internal'></th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%=h role.name %></td>
    <td><%=h role.description %></td>
    <td class='internal'><%=link_to 'Show', role %></td>
	<%if current_user.admin?%>
	    <td class='internal'><%=link_to 'Edit', edit_role_path(role) %></td>
	    <td class='internal'><%=link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td>
	<%end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Role', new_role_path %>
