<p id="notice">
    <%= notice %>
</p>
<p>
    <b>Name:</b>
    <%=h @role.name %>
</p>
<p>
    <b>Description:</b>
    <%if @role.description %>
    <%=h @role.description %>
	<%else%>
	[no description provided]
	<%end%>
</p>
<p>
    <b>Skill Base Values:</b>
</p>
<p>
These are all the skills that depend on the role chosen.  Other skills are dependent on the height/weight of the virtual pro, and yet others are constant values that are the same for all virtual pros.  The values shown here are the skill values your virtual pro will have if you have achieved no accomplishments, for example if you just created a new virtual pro. 
</p>
<table>
    <%for base in @sortedvalues %>
    <tr>
        <td>
            <%=h base.skill.name %>
        </td>
        <td>
            <%=h base.value %>
        </td>
    </tr>
    <%end %>
</table>
<p>
    <b>Assignments:</b>
</p>
<p>
These are the positions (on the field) for which this role is appropriate.  You can choose one of these positions to see how how your virtual pro performs in that position. 
</p>
<table>
    <%for assignment in @sortedassignments %>
    <tr>
        <td>
            <%=h link_to assignment.position.name, position_path(
            :id=>assignment.position.id,
            :role=>@role.id,
            :player=>params[:player],
            :heightweight=>params[:heightweight]) %>
        </td>
        <td>
            <%=h assignment.description %>
        </td>
    </tr>
    <%end %>
</table>
<p/>
<%if current_user && current_user.admin? %>
<%= link_to 'Edit', edit_role_path(@role) %> |
<%end %>
<%= link_to 'Back', roles_path %>
