<h1>Listing leagueplayers</h1>

<table>
  <tr>
    <th>League</th>
    <th>Player</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leagueplayers.each do |leagueplayer| %>
  <tr>
    <td><%= leagueplayer.league.name %></td>
    <td><%= leagueplayer.player.name %></td>
    <td><%= leagueplayer.active %></td>
    <td><%= link_to 'Show', leagueplayer %></td>
    <td><%= link_to 'Edit', edit_leagueplayer_path(leagueplayer) %></td>
    <td><%= link_to 'Destroy', leagueplayer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_leagueplayer_path %>
